[Unit]
Description=SmartGreenCoin's distributed currency daemon
After=network.target

[Service]
User=SmartGreenCoin
Group=SmartGreenCoin

Type=forking
PIDFile=/var/lib/SmartGreenCoind/SmartGreenCoind.pid

ExecStart=/usr/bin/SmartGreenCoind -daemon -pid=/var/lib/SmartGreenCoind/SmartGreenCoind.pid \
          -conf=/etc/SmartGreenCoin/SmartGreenCoin.conf -datadir=/var/lib/SmartGreenCoind

ExecStop=-/usr/bin/SmartGreenCoin-cli -conf=/etc/SmartGreenCoin/SmartGreenCoin.conf \
         -datadir=/var/lib/SmartGreenCoind stop

Restart=always
PrivateTmp=true
TimeoutStopSec=60s
TimeoutStartSec=2s
StartLimitInterval=120s
StartLimitBurst=5

[Install]
WantedBy=multi-user.target
